# Core
streamlit==1.37.1
pandas==2.3.0
numpy==2.2.6

# Geoespacial
geopandas==1.1.0
shapely==2.1.1
pyproj==3.7.1
pyogrio==0.11.0

# Visualización
folium==0.17.0
branca==0.7.2
streamlit-folium==0.23.0
plotly==5.22.0

# Utilidades menores
requests==2.32.4
